form {
    display: block;
    background-color: #fff;
    box-shadow: 1px 1px 3px 2px #ddd;
    margin: 40px auto;
    max-width: 600px;
    max-height: 700px;
    padding: 25px 40px;
}

form input, textarea {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 15px auto;
    padding: 8px;
    font-family: "Poppins";
    background-color: #f1f1f1;
    border: 1px solid #ddd;
}

form span {
    color: grey;
}

form button {
    height: 30px;
    width: 80px;
    align-items: center;
    border: none;
    background-color: blue;
    color: #fff;
    cursor: pointer;
}